@using LocalBusinessDirectory.Helpers;

@implements IDisposable

@inject NavigationManager nav
@inject IJSRuntime js

<header class="flex items-center gap-x-8 py-6 px-20 text-sm transition sticky top-0 @(Transparent ? "bg-transparent" : "bg-white border-b") z-[50] @(hideHeader ? "-translate-y-full" : "translate-y-0")">
    <div class="mr-auto flex gap-x-8">
        <div class="group relative">
            <div class="cursor-pointer select-none @(Transparent ? "text-white" : "")" @ondblclick="@(() => nav.NavigateTo("catalog"))" tabindex="-1">
                Catalog <i class="fa-solid fa-caret-down ml-1"></i>
            </div>
            <div class="opacity-0 absolute top-6 left-0 transition-opacity ease-in-out drop-shadow z-50 pointer-events-none group-focus-within:pointer-events-auto group-focus-within:opacity-100">
                <div class="flex flex-col whitespace-nowrap bg-white rounded">
                    <a class="px-4 py-2 transition duration-200 hover:bg-gray-300 hover:rounded-t rounded-t" href="catalog?type=restaurant">
                        <div class="inline-block w-4 mr-2">
                            <i class="fa-solid fa-utensils"></i>
                        </div>
                        Restaurants
                    </a>
                    <a class="px-4 py-2 transition duration-200 hover:bg-gray-300" href="catalog?type=store">
                        <div class="inline-block w-4 mr-2">
                            <i class="fa-solid fa-store"></i>
                        </div>
                        Stores
                    </a>
                    <a class="px-4 py-2 transition duration-200 hover:bg-gray-300" href="catalog?type=shipping">
                        <div class="inline-block w-4 mr-2">
                            <i class="fa-solid fa-truck-fast"></i>
                        </div>
                        Shipping
                    </a>
                    <a class="px-4 py-2 transition duration-200 hover:bg-gray-300 hover:rounded-b rounded-b" href="catalog">
                        <div class="inline-block w-4 mr-2">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        All
                    </a>
                </div>
            </div>
        </div>
        <a href="pricing" class="@(Transparent ? "text-white" : "")">
            Pricing
        </a>
    </div>
    @if (!Transparent)
    {
        <a href="/" class="flex items-center gap-x-2 select-none text-lg font-bold">
            <img src="logo.png" class="h-6" alt="Logo" />
        </a>
    }
    <div class="flex items-center gap-x-4 text-sm text-black/80 ml-auto">
        <AuthorizeView Context="user">
            <Authorized>
                <div class="group relative">
                    <div class="cursor-pointer select-none font-bold @(Transparent ? "text-white" : "")" tabindex="-1">
                        @user.User.Identity?.Name
                        <span class="mx-1">
                            <PricingPlanBadge PricingPlan="(PricingPlan)int.Parse(user.User.FindFirst(DirectoryClaimTypes.Plan)!.Value)" />
                        </span>
                        <i class="fa-solid fa-caret-down"></i>
                    </div>
                    <div class="opacity-0 absolute top-6 right-0 transition-opacity ease-in-out drop-shadow z-50 pointer-events-none group-focus-within:pointer-events-auto group-focus-within:opacity-100">
                        <div class="flex flex-col whitespace-nowrap bg-white rounded">
                            @if (string.IsNullOrWhiteSpace(businessId))
                            {
                                <a class="px-4 py-2 transition duration-200 hover:bg-gray-300 hover:rounded-t rounded-t" href="create-business">
                                    <div class="inline-block w-4 mr-2">
                                        <i class="fa-solid fa-briefcase"></i>
                                    </div>
                                    Create a business
                                </a>
                            }
                            else
                            {
                                <a class="px-4 py-2 transition duration-200 hover:bg-gray-300 hover:rounded-t rounded-t" href="business/@businessId">
                                    <div class="inline-block w-4 mr-2">
                                        <i class="fa-solid fa-briefcase"></i>
                                    </div>
                                    Manage your business
                                </a>
                            }
                            <a class="px-4 py-2 transition duration-200 hover:bg-gray-300" href="pricing">
                                <div class="inline-block w-4 mr-2">
                                    <i class="fa-solid fa-money-bill"></i>
                                </div>
                                Change pricing plan
                            </a>
                            <a class="px-4 py-2 transition duration-200 hover:bg-gray-300" href="orders">
                                <div class="inline-block w-4 mr-2">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </div>
                                Your orders
                            </a>
                            <a class="px-4 py-2 transition duration-200 text-red-900 hover:bg-gray-300 hover:rounded-b rounded-b" href="sign-out">
                                <div class="inline-block w-4 mr-2">
                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                </div>
                                Sign out
                            </a>
                        </div>
                    </div>
                </div>
            </Authorized>
            <NotAuthorized>
                <a href="join" class="py-2 px-4 bg-green-800 transition text-white rounded shadow-md shadow-green-900/50 text-xs font-normal hover:bg-green-900">
                    Join
                </a>
                @if (Transparent)
                {
                    <a href="join" class="py-2 px-4 bg-green-800 transition text-white rounded shadow-md shadow-green-900/50 text-xs font-normal hover:bg-green-900">
                        Login
                    </a>
                }
            </NotAuthorized>
        </AuthorizeView>
    </div>
</header>

@code {
    [CascadingParameter]
    public Task<AuthenticationState>? AuthState { get; set; }

    [Parameter]
    public bool Transparent { get; set; }

    private string? businessId;

    private bool hideHeader;

    protected override async Task OnInitializedAsync()
    {
        businessId = (await AuthState!).User.FindFirst(DirectoryClaimTypes.BusinessOwnerOf)?.Value;

        nav.LocationChanged += LocationChanged;
    }

    private void LocationChanged(object? sender, LocationChangedEventArgs e)
    {
        hideHeader = false;
        StateHasChanged();
    }

    public async Task OnScroll(WheelEventArgs e)
    {
        var scrollbarVisible = await js.InvokeAsync<bool>("scrollbarVisible");

        if (e.DeltaY > 75 && scrollbarVisible)
        {
            hideHeader = true;
        }
        else if (e.DeltaY < -75)
        {
            hideHeader = false;
        }

        StateHasChanged();
    }

    public void Dispose()
    {
        nav.LocationChanged -= LocationChanged;
    }
}